<div class="card shadow mb-5">
    <div class="card-header py-4">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
      <hr />
      <button class="btn btn-primary" routerLink="/nuevo-tiendas">Nuevo</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Ciudad</th>
              <th>Categoria</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (tienda of tiendas; track tienda.ID_tienda; let i =
            $index) {
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ tienda.Nombre }}</td>
              <td>{{ tienda.Ciudad }}</td>
              <td>{{ tienda.Categoria }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-warning"
                  routerLink="/editar-tiendas/{{ tienda.ID_tienda }}"
                >
                  Editar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="eliminar(tienda.ID_tienda)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            }@empty {
            <tr>
              <td colspan="5">No existen registros</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button (click)="alerta()">mensaje</button>
